$cl_blue: #004d73;
$cl_red: #ff0000;
$cl_gray-blue: #97cef0;
$cl_btn-blue: #6694ab;
$cl_light-blue: #ccdbe3;
$cl_disable: #5b8da6;
$cl_white: white;
$cl_black: black;
$cl_green: #33a524;
$cl_gray: #626262;
$cl_blue-2: #0f587c;