@import 'fonts';
@import 'colors';

/* ======================== Заготовки и переменные ========================= */
//@include center;       *** Центрование внутри flex блока ***
@mixin center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
//@include columnBetween;       *** Растянуть в столбец внутри flex блока ***
@mixin columnBetween {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
//@include columnAround;       *** Растянуть в столбец внутри flex блока ***
@mixin columnAround {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
//@include picture;      *** Стилизация круглого изображения ***
@mixin picture {
    @include center;
    &-pic {
        width: 100%;
        border-radius: 50%;
    }
}
//@include cube;         *** Квадратный блок относительно ширины ***
@mixin cube {
    &:before {
        content: "";
        padding-top: 100%;
        float: left;
    }
}

/* ============================== global css =============================== */
* {
    margin: 0;
    padding: 0;
}

h1 {
    
}

h2 {
    text-transform: uppercase;
}

.border-right {
    border-right: 1px solid $cl_white;    
}

hr {
    border: 0.5px solid $cl_white;
    margin: 0.5em 0;
}

body {
    @include fontSize18;
    
    nav li {
        
    }
    
    a {
        color: black;
        text-decoration: none;
    }
}

.header {
    background: linear-gradient(to bottom, rgba(255,255,255, 1) 10%, rgba(0, 77, 115, 0.5) 60%, $cl_blue 100%);
    padding: 5px 0 15px;
    font-weight: bold;
    
    &__logo {
        width: 60%;
        margin: 15px auto;
        @include center;
    }
    
    &__phones {
        text-align: center;
    }
    
    &__worktime-item {
        font-size: 10px;
        text-align: right;
        
        &:last-child {
            color: blue;
        }
    }
    
    &__basket {
        @include center;
        
        &-icon {
            font-size: 20px;
            color: $cl_gray-blue;
            width: 33px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            border: 2px solid $cl_gray-blue;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
    
    &-top {
        padding-left: 0;
        @include columnAround;
    }
    
    &__nav {
        height: 3em;
        
        &-item {
            list-style-type: none;
        }
        
        &-link {
        border-bottom: 1px solid $cl_white;
        text-transform: uppercase;
        }
    }
    
    &__catalog {
        border-radius: 5px;
        background-color: #ffffff;
        font-size: 30px;
        color: $cl_blue;
        font-weight: bold;
        height: 63px;
        width: 100%;
        border: none;
        border-radius: 5px;
    }
    
    &__search {
        width: 100%;
        border-radius: 5px;
        display: flex;
        height: 63px;
        overflow: hidden;
        border: 1px solid #ffffff;
        background-color: $cl_light-blue;
        
        &-input {
            width: (7/9 * 100%);
            border: none;
            text-align: center;
            background-color: transparent;
        }
        
        &-btn {
            width: (2/9 * 100%);
            border: none;
            border-radius: 5px;
            background-color: $cl_btn-blue;
            color: $cl_white;
        }
    }
}

.slider {
    display: flex;
    background-color: $cl_blue;
    margin: 10px 0;
    
    
    &__arrow {
        width: 10%;
        height: 100%;
        @include center;
        font-size: 6vw;
        color: $cl_blue;
        background-color: $cl_light-blue;
    }
    &-content {
        width: 80%;
        height: 30vw;
        max-height: 320px; //сделать медиа-запросы
        
        &__item {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../img/slider_img_1.jpg);
        }
    }
}

.special {
    &__hot {
        
    }
}

@import 'media';
